<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit listing</h2>
  <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
    <input type="text" name="listing[title]" value="<%=listing.title%>"><br>
    <input type="date" name="listing[date]" value="<%=listing.date%>"><br>
    <input type="time" name="listing[time]" value="<%=listing.time%>"><br>
    <input type="file" name="listing[image]" value="<%=listing.image%>"><br>
    <input type="text" name="listing[venue]"  value="<%=listing.venue%>"><br>
    <input type="number" name="listing[price]" value="<%=listing.price%>"><br>

    <button>Edit</button><br>
</body>
</html>